* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}
body,
html {
	background: linear-gradient(
		0deg,
		rgba(250, 194, 110, 1) 13%,
		rgba(208, 67, 67, 1) 95%,
		rgba(208, 47, 47, 1) 100%
	);
	height: 100%;
}
i {
	font-size: 1.5rem;
	color: white;
	padding-top: 0.5rem;
}
h4 {
	font-size: 1.2rem;
}
.flex {
	display: flex;
	flex-direction: row;
}
.weather-display-container {
	margin: auto;
	h1 {
		font-size: 2rem;
	}
	i,
	h2 {
		font-size: 5rem;
	}
	#city-location {
		background: none;
		border: none;
		border-bottom: 2px solid black;
		color: azure;
	}
}
.weekday-container {
	justify-content: space-evenly;
	.weekday {
	text-align: center;
}
}
.weather-hourly-container {
	width: 2500px;
	justify-content: space-evenly;
}
.general-information-container {
	margin: 3rem auto;
	display: grid;
	grid-template-columns: repeat(2, 150px);
	grid-template-rows: repeat(3, 100px);
	div {
		text-align: center;
	}
}
