* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
}
body,
html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
.main {
	min-height: 100%;
	background-repeat: no-repeat;
	color: white;
}
button {
	cursor: pointer;
}
i {
	font-size: 1.5rem;
	color: white;
	padding-top: 0.5rem;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.4rem;
}
h4,
h5 {
	font-size: 1rem;
}
.flex {
	display: flex;
	flex-direction: row;
}
button {
	font-size: 1.6rem;
}
.settings-popup {
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	.settings-container {
		position: relative;
		width: 350px;
		height: fit-content;
		padding: 3rem;
		line-height: 1.5rem;
		margin: 8rem auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		border-radius: 5px;
		form {
			display: flex;
			flex-direction: column;
		}
		h2 {
			font-size: 2rem;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
		.apply {
			width: fit-content;
			padding: 0.3rem 0.8rem;
			background-color: rgba(111, 218, 62, 0.8);
		}
		.flex {
			justify-content: space-evenly;
		}
		.cancel,
		.close {
			width: fit-content;
			padding: 0.3rem 0.8rem;
			background-color: rgba(209, 37, 37, 0.8);
		}
	}

	button {
		background-color: transparent;
		border: none;
		outline: none;
		margin-top: 1rem;
	}
}
.form-container {
	position: absolute;
	width: 300px;
	height: fit-content;
	padding: 1.5rem;
	border-radius: 5px;
	line-height: 2.5rem;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: white;
	box-shadow: 0 0 5px 2px rgb(182, 182, 182);
}
// set popups as display none
#temperature-form,
#wind-form,
#precipitation-form,
#visibility-form,
#time-form {
	display: none;
}
.weather-display-container {
	margin: auto;
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 5rem;
	}
	.new-city-time,
	.city-name-container {
		justify-content: space-between;
		padding: 1rem 1rem 0 1rem;
		align-items: center;
	}
	input {
		margin: auto 1rem;
		width: 50vw;
		max-width: 400px;
		font-size: 1rem;
		outline: none;
		padding: 0.3rem;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-text-fill-color: white;
		transition: background-color 5000s ease-in-out 0s;
	}
	input::placeholder {
		color: white;
		opacity: 1; /* Firefox */
	}
	i {
		height: 100%;
	}
	form {
		display: flex;
		align-items: center;
	}
	#city-location {
		background: none;
		border: none;
		border-bottom: 2px solid white;
		color: white;
	}
	.current-tempreture-container {
		justify-content: center;
		align-items: center;
		padding: 1rem;
		p {
			font-size: 3rem;
		}
	}
	.max-min {
		margin: auto;
		width: fit-content;
		margin-bottom: 1rem;
		white-space: nowrap;
		overflow: hidden;
	}
	button {
		background-color: transparent;
		border: none;
		outline: none;
		width: fit-content;
		height: fit-content;
		align-items: center;
	}
	.material-icons {
		color: white;
		font-size: 2rem;
		cursor: pointer;
	}
	.current-icon {
		font-size: 5rem;
	}
}
.weekday-container {
	display: grid;
	grid-template-columns: repeat(7, 14.2%);
	padding: 1rem;
	.weekday {
		text-align: center;
		overflow-x: hidden;
		// auto-scroll
		.today-discription {
			width: 100%;
			white-space: nowrap;
			font-size: 0.8rem;
		}
	}
}
.scroll {
	animation: nudge 7s infinite linear;
	backface-visibility: hidden;
}
@keyframes nudge {
	100% {
		transform: translate(-120%, 0) perspective(1px);
	}
	0% {
		transform: translate(120%, 0) perspective(1px);
	}
}
.weather-hourly-container {
	padding: 1rem;
	width: auto;
	overflow-x: auto;
	overflow-y: hidden;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	.hourly-weather:not(:last-child) {
		margin-right: 1rem;
	}
	.hourly-weather {
		width: fit-content;
		text-align: center;
		p {
			margin-top: 0.3rem;
		}
		h4 {
			white-space: nowrap;
		}
	}
}
.general-information-container {
	width: fit-content;
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(2, 40vw);
	grid-template-rows: repeat(3, 7vh);
	div {
		text-align: center;
		p {
			font-size: 1rem;
		}
	}
}

@media only screen and (min-width: 500px) {
	html {
		font-size: 14px;
	}
	.weather-hourly-container .hourly-weather:not(:last-child) {
		margin-right: 2rem;
	}
	.general-information-container {
		grid-template-columns: repeat(3, 30vw);
		grid-template-rows: repeat(2, 100px);
		margin: 2rem auto;
	}
}
@media only screen and (min-width: 700px) {
	html {
		font-size: 18px;
	}
	.weather-hourly-container .hourly-weather:not(:last-child) {
		margin-right: 3rem;
	}
}
@media only screen and (min-width: 900px) {
	html {
		font-size: 20px;
	}
	.new-city-time,
	.city-name-container {
		width: 95vw;
		margin: auto;
	}
	.general-information-container {
		margin: 3rem auto;
	}
}
@media only screen and (min-width: 1050px) {
	// scrollbars
	::-webkit-scrollbar {
		height: 10px;
		width: 10px;
		background: gray;
	}
	::-webkit-scrollbar-thumb:vertical {
		background: #000;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:horizontal {
		background: #000;
		border-radius: 10px;
	}
}
@media only screen and (min-width: 1200px) {
	html {
		font-size: 22px;
	}
	.weather-display-container {
		margin-bottom: 3rem;
	}
	.weather-hourly-container .hourly-weather:not(:last-child) {
		margin-right: 4rem;
	}
}
@media only screen and (min-height: 700px) {
	.current-tempreture-container {
		margin: 1rem;
	}
}
