* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
.main {
	font-size: 12px;
	min-height: 100%;
	background-repeat: no-repeat;
	color: white;
}
button {
	cursor: pointer;
	font-size: 1.2rem;
	user-select: none;
}
i {
	font-size: 1.5rem;
	color: white;
	padding-top: 0.5rem;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.2rem;
}
h4,
h5 {
	font-size: 1rem;
}
.flex {
	display: flex;
	flex-direction: row;
}
#loader {
	pointer-events: none;
	transition: 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: rgba(72, 72, 72);
	background-color: white;
	h2 {
		font-size: 3rem;
		width: fit-content;
		margin: 15vh auto;
	}
	.effect {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: 20vh auto;
		width: 90 vw;
		max-width: 400px;
		padding: 1rem;
		.wave {
			width: 7px;
			height: 15vh;
			background: linear-gradient(45deg, cyan, rgb(0, 0, 0));
			animation: wave 0.8s linear infinite;
			border-radius: 20px;
		}
		.wave:nth-child(2) {
			animation-delay: 0.1s;
		}
		.wave:nth-child(3) {
			animation-delay: 0.2s;
		}
		.wave:nth-child(4) {
			animation-delay: 0.3s;
		}
		.wave:nth-child(5) {
			animation-delay: 0.4s;
		}
		.wave:nth-child(6) {
			animation-delay: 0.5s;
		}
		.wave:nth-child(7) {
			animation-delay: 0.6s;
		}
		.wave:nth-child(8) {
			animation-delay: 0.7s;
		}
		.wave:nth-child(9) {
			animation-delay: 0.8s;
		}
		.wave:nth-child(10) {
			animation-delay: 0.9s;
		}
		.wave:nth-child(11) {
			animation-delay: 1s;
		}
		.wave:nth-child(12) {
			animation-delay: 1.1s;
		}
		.wave:nth-child(13) {
			animation-delay: 1.2s;
		}
		.wave:nth-child(14) {
			animation-delay: 1.3s;
		}
		.wave:nth-child(15) {
			animation-delay: 1.4s;
		}
		.wave:nth-child(16) {
			animation-delay: 1.5s;
		}

		@keyframes wave {
			0% {
				transform: scale(0);
			}
			50% {
				transform: scale(1);
			}
			100% {
				transform: scale(0);
			}
		}
	}
}
.settings-popup {
	position: absolute;
	width: auto;
	height: auto;
	z-index: 99;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	color: black;
	.settings-container {
		position: relative;
		width: 350px;
		height: fit-content;
		padding: 3rem;
		line-height: 1.5rem;
		margin: 8rem auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		border-radius: 5px;
		form {
			display: flex;
			flex-direction: column;
		}
		.material-icons {
			position: absolute;
			right: 15px;
			top: 15px;
			margin: 0;
			font-size: 2rem;
			color: black;
		}
		h2 {
			font-size: 2rem;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}

		.apply {
			padding: 0.3rem 0.8rem;
			border-radius: 5px;
			transition: 0.3s;
			font-weight: 700;
			color: white;
			background-color: rgba(80, 235, 80, 0.8);
			&:hover {
				background-color: rgba(80, 235, 80, 1);
			}
		}
		.cancel {
			padding: 0.3rem 0.8rem;
			border-radius: 5px;
			transition: 0.3s;
			font-weight: 700;
			color: white;
			background-color: rgba(235, 80, 80, 0.8);
			&:hover {
				background-color: rgb(235, 80, 80);
			}
		}
	}

	button {
		background-color: transparent;
		border: none;
		outline: none;
		margin-top: 1rem;
	}
}
.form-container {
	position: absolute;
	width: 350px;
	height: fit-content;
	padding: 1.5rem 0.5rem;
	border-radius: 5px;
	line-height: 2.5rem;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: white;
	box-shadow: 0 0 10px 3px rgba(72, 72, 72, 0.2);
	.form-label {
		display: inline-block;
		font-size: 1rem;
		padding: 0.5rem;
		width: 100%;
		cursor: pointer;
		color: black;
		border-radius: 5px;
		transition: 0.3s;
		user-select: none;
		&:hover {
			background: rgb(189, 189, 189);
			box-shadow: 0 0 10px 5px rgba(143, 143, 143, 0.2);
		}
		&:active {
			transform: translateY(2px);
			box-shadow: 0 0 10px 5px rgba(143, 143, 143, 0.2);
		}
	}
	div {
		justify-content: space-evenly;
	}
	input {
		display: none;
	}
	#celsius:checked + .form-label,
	#fahrenheit:checked + .form-label,
	#m-s:checked + .form-label,
	#km-h:checked + .form-label,
	#ft-s:checked + .form-label,
	#mi-h:checked + .form-label,
	#kts:checked + .form-label,
	#km:checked + .form-label,
	#mi:checked + .form-label,
	#pm-am:checked + .form-label,
	#military-time:checked + .form-label {
		background: rgb(113, 144, 245);
		color: white;
	}
}
// set popups as display none
#temperature-form,
#wind-form,
#precipitation-form,
#visibility-form,
#time-form {
	display: none;
}
.weather-display-container {
	user-select: none;
	margin: auto;
	h1 {
		font-size: 2rem;
	}
	h2,
	.current-icon {
		font-size: 3rem;
	}
	.new-city-time,
	.city-name-container {
		justify-content: space-between;
		padding: 1rem 1rem 0 1rem;
		align-items: center;
	}
	.display-time {
		white-space: nowrap;
	}
	input {
		margin: auto 1rem;
		width: 50vw;
		max-width: 400px;
		font-size: 1rem;
		outline: none;
		padding: 0.3rem;
	}
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-text-fill-color: white;
		transition: background-color 5000s ease-in-out 0s;
	}
	input::placeholder {
		color: white;
		opacity: 1; /* Firefox */
	}
	i {
		height: 100%;
	}
	form {
		display: flex;
		align-items: center;
	}
	#city-location {
		background: none;
		border: none;
		border-bottom: 2px solid white;
		color: white;
	}
	.current-tempreture-container {
		justify-content: center;
		align-items: center;
		padding: 1rem;
		p {
			font-size: 3rem;
		}
	}
	.max-min {
		margin: auto;
		width: fit-content;
		margin-bottom: 1rem;
		white-space: nowrap;
		overflow: hidden;
	}
	button {
		background-color: transparent;
		border: none;
		outline: none;
		width: fit-content;
		height: fit-content;
		align-items: center;
	}
	.material-icons {
		color: white;
		font-size: 2rem;
		cursor: pointer;
	}
}
.weekday-container {
	user-select: none;
	display: grid;
	grid-template-columns: repeat(7, 14.2%);
	padding: 1rem;
	.weekday {
		text-align: center;
		overflow-x: hidden;
		// auto-scroll
		.today-discription {
			width: 100%;
			white-space: nowrap;
			font-size: 0.8rem;
		}
		.date-of-the-day {
			font-size: 0.9rem;
		}
		.today-max-min {
			font-size: 0.7rem;
		}
	}
}
.scroll {
	animation: nudge 7s infinite linear;
	backface-visibility: hidden;
}
@keyframes nudge {
	100% {
		transform: translate(-120%, 0) perspective(1px);
	}
	0% {
		transform: translate(120%, 0) perspective(1px);
	}
}
.weather-hourly-container {
	user-select: none;
	padding: 0.5rem 1rem;
	width: auto;
	overflow-x: auto;
	overflow-y: hidden;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	.hourly-weather:not(:last-child) {
		margin-right: 2rem;
	}
	.hourly-weather {
		width: fit-content;
		text-align: center;
		p {
			margin-top: 0.3rem;
		}
		h4 {
			white-space: nowrap;
		}
	}
}
.general-information-container {
	user-select: none;
	width: fit-content;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: repeat(2, 40vw);
	grid-template-rows: repeat(3, 7vh);
	div {
		text-align: center;
		p {
			font-size: 1rem;
		}
	}
	h3 {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 500px) {
	.weather-hourly-container .hourly-weather:not(:last-child) {
		margin-right: 3rem;
	}
	.general-information-container {
		grid-template-columns: repeat(3, 30vw);
		grid-template-rows: repeat(2, 90px);
		margin: 2rem auto;
	}
}
@media only screen and (min-width: 700px) {
	.weather-hourly-container .hourly-weather:not(:last-child) {
		margin-right: 4rem;
	}
}
@media only screen and (min-width: 900px) {
	.new-city-time,
	.city-name-container {
		width: 95vw;
		margin: auto;
	}
	.general-information-container {
		margin: 3rem auto;
	}
}
@media only screen and (min-width: 1050px) {
	// scrollbars
	::-webkit-scrollbar {
		height: 8px;
		width: 10px;
	}
	::-webkit-scrollbar-thumb:vertical {
		background: rgb(75, 75, 75);
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:horizontal {
		background: rgb(75, 75, 75);
		border-radius: 10px;
	}
}
@media only screen and (min-width: 1200px) {
	.weather-display-container {
		margin-bottom: 2rem;
	}
	.weather-hourly-container .hourly-weather:not(:last-child) {
		margin-right: 5rem;
	}
}
@media only screen and (min-height: 700px) {
	.current-tempreture-container {
		margin: 1rem;
	}
}
// for ipad pro
@media only screen and (aspect-ratio: 1024/1366) {
	.general-information-container {
		margin: 4rem;
		grid-template-rows: 200px;
	}
}
// for long phones
@media only screen and (max-aspect-ratio: 410/800) {
	.weather-display-container {
		margin-bottom: 3rem;
	}
	.general-information-container {
		margin: 4rem auto;
	}
}
