* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
}
body,
html {
	height: 100%;
	background: linear-gradient(
		0deg,
		rgba(250, 194, 110, 1) 13%,
		rgba(208, 67, 67, 1) 95%,
		rgba(208, 47, 47, 1) 100%
	);
	background-repeat: no-repeat;
}
i {
	font-size: 1.5rem;
	color: white;
	padding-top: 0.5rem;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.8rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;
}
.flex {
	display: flex;
	flex-direction: row;
}
button {
	font-size: 1.6rem;
}
.settings-popup {
	position: absolute;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	.settings-container {
		position: relative;
		width: 350px;
		height: fit-content;
		padding: 3rem;
		line-height: 1.5rem;
		margin: 8rem auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		border-radius: 5px;
		form {
			display: flex;
			flex-direction: column;
		}
		h2 {
			font-size: 2rem;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
		.apply {
			width: fit-content;
			padding: 0.3rem 0.8rem;
			background-color: rgba(111, 218, 62, 0.8);
		}
		.flex {
			justify-content: space-evenly;
		}
		.cancel,
		.close {
			width: fit-content;
			padding: 0.3rem 0.8rem;
			background-color: rgba(209, 37, 37, 0.8);
		}
	}

	button {
		background-color: transparent;
		border: none;
		outline: none;
		margin-top: 1rem;
	}
}
.form-container {
	position: absolute;
	width: 300px;
	height: fit-content;
	padding: 1.5rem;
	border-radius: 5px;
	line-height: 2.5rem;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: white;
	box-shadow: 0 0 5px 2px rgb(182, 182, 182);
}
// set popups as display none
#temperature-form,
#wind-form,
#precipitation-form,
#visibility-form,
#time-form {
	display: none;
}
.weather-display-container {
	margin: auto;
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 5rem;
	}
	.new-city-time,
	.city-name-container {
		justify-content: space-between;
		padding: 1rem 1rem 0 1rem;
		align-items: center;
	}
	input {
		margin-left: 1rem;
		width: 50vw;
	}
	#city-location {
		background: none;
		border: none;
		border-bottom: 2px solid black;
		color: azure;
	}
	.current-tempreture-container {
		justify-content: center;
		align-items: center;
		padding: 1rem;
		p {
			font-size: 3rem;
		}
	}
	.max-min {
		margin: auto;
		width: fit-content;
		margin-bottom: 1rem;
		white-space: nowrap;
		overflow: hidden;
	}
	button {
		background-color: transparent;
		border: none;
		outline: none;
		width: fit-content;
		height: fit-content;
	}
	.material-icons {
		color: hotpink;
	}
	.current-icon {
		font-size: 5rem;
	}
}
.weekday-container {
	display: grid;
	grid-template-columns: repeat(7, 14.2%);
	padding: 1rem;
	.weekday {
		text-align: center;
	}
}
.weather-hourly-container {
	padding: 1rem;
	width: auto;
	overflow-x: auto;
	overflow-y: hidden;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	.hourly-weather:not(:last-child) {
		margin-right: 1rem;
	}
}
.general-information-container {
	width: fit-content;
	margin: 3rem auto;
	display: grid;
	grid-template-columns: repeat(2, 40vw);
	grid-template-rows: repeat(3, 7vh);
	div {
		text-align: center;
	}
}
