* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: aqua;
}
.flex {
	display: flex;
	flex-direction: row;
}
main {
    max-width: 600px;
    margin: auto;
    background-color: burlywood;
}
.weather-display-container {
    width: 500px;
    margin: auto;
}
.general-information-container {
	display: grid;
	grid-template-columns: 150px 150px;
	grid-template-rows: repeat(3, 100px);
    div {
        text-align: center;
    }
}
